:root, :host {
  --primary-color: #E1A81D;
  --secondary-color: #D0534E;
  --primary-gradient: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  --background-color: #ffffff;
  --background-color-accent: #F0F2F3;
  --background-color-hover: #383641;
  --text-color: #ffffff;

  --content-wrapper-width: 1320px;
}

@media (prefers-color-scheme: light) {
  :root, :host {
    --background-color: #f5f4fe;
    --background-color-accent: #ffffff;
    --background-color-hover: #e1dffd;
    --text-color: #000000;
  }
}