:root, :host {
  --primary-color: #029FAE;
  --bg-color: #ffffff;
  --bg-accent: #F0F2F3;
  --bg-hover: #383641;
  --bg-button: #ffffff;

  --text-color-light: #ffffff;
  --text-color-dark: #272343;

  --content-wrapper-width: 1320px;
  --icon-button-size: 44px;
}
